h1{
  font-size: 3em;
  padding: 10px;
  font-family: 'Luckiest Guy', cursive;
}

select{
  padding: 10px;
  margin-bottom: 20px;
  background-color: #301d5790;
  color: whitesmoke;
  font-family: 'Rancho', cursive;
  font-size: 1em;
}

section{
  width: 20%;
  display: inline-block;
  padding: 10px;
}

h2{
  font-size: 1.2em;
  font-family: 'Rubik Mono One', sans-serif;
}

img {
  width: 100%;
  float: left;
}

p {
  font-family: 'Russo One', sans-serif;
}